body{
    width: 1366px;
    margin: 0 auto;
    padding: 0;
    background-color: whitesmoke;
}

.meme_wrapper {
}
.first_meme_container {
}
.meme_title {
}
.first_title {
}
.meme1 {
}
.second_meme_container {
}
.meme2 {
}
.third_meme_container {
}
.meme3 {
}
.four_meme_container {
}
.meme4 {
}
.five_meme_container {
}
.meme5 {
}